body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    pointer-events: none;
    cursor: not-allowed;
}

#outer {
    height: 650px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
    position: relative;
}

#left {
    height: 650px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    z-index: 10;
}

#right {
    height: 650px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    background-color: white;
    position: relative;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#form {
    align-self: center;
}

#title {
    font-size: 28px;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    pointer-events: none;
    cursor: not-allowed;
}

#underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: blue;
}

input:not([type="checkbox"]),
button {
    font-size: 18px;
    margin: 7px 10px;
    padding: 7px 15px;
    border-radius: 10px;
}

#fname,
#uname,
#email,
#password,
#cpassword{
    height: 35px;
    width: 400px;
    border: 1px solid black;
    padding-right: 35px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
}

input::placeholder {
    font-size: 19px;
    opacity: 70%;
    position: relative;
    left: 0px;
    top: 2px;
}

#checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid black;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    position: relative;
    left: 10px;
}

#checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

#checkbox:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: -1px;
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#checkb,
#line {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin: 0px 20px;
    pointer-events: none;
    cursor: not-allowed;
}

#submit {
    font-size: 20px;
    background-color: rgb(20, 84, 201);
    border: none;
    color: white;
    width: 453px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#submit:hover {
    cursor: pointer;
}

#line, #login{
    margin: 0px;
}

#login {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    top: 2px;
}

#login {
    font-weight: bold;
}

#rhead{
    position: absolute;
    top: 13px;
    height: 50px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rhead {
    left: 768px;
    border-radius: 10px 10px 0px 0px;
}

#left {
    background-image: url(../images/login.png);
    background-size: cover;
    background-position: center;
}

#lhead {
    display: none;
}

#email.valid, #fname.valid, #password.valid, #cpassword.valid, #uname.valid {
    border-color: green;
    background-image: url("../images/tick.png");
}

#email.invalid, #fname.invalid, #password.invalid, #cpassword.invalid, #uname.invalid {
    border-color: red;
    background-image: url("../images/cross.png");
}

.passw {
    position: relative;
}

.eye-icon {
    width: 22px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
}

#strengthmeter {
    width: 93%;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    margin-top: 6px;
    position: relative;
    left: 17px;
}

#strengthbar{
    height: 100%;
    width: 0%;
    border-radius: 5px;
    transition: width 0.3s ease, background 0.3s ease;
}

#strengthtext {
    margin: 5px;
    font-size: 14px;
    position: relative;
    left: 17px;
}